[submodule "API-Frontend"]
	path = Projeto-Integrador-Oracle-Frontend
	url = https://github.com/Fluffy-Fatec/Projeto-Integrador-Oracle-Frontend
[submodule "API-Backend"]
	path = Projeto-Integrador-Oracle-Backend
	url = https://github.com/Fluffy-Fatec/Projeto-Integrador-Oracle-Backend
